In [2]:
# import the necessary modules
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [3]:
basket_items = pd.read_csv("groceries_basket.csv")
basket_items.head()

,order_id,product_id,product_name,category,add_to_cart_sequence_index
0,1,49302,Bulgarian Yogurt,dairy eggs,1
1,1,10246,Organic Celery Hearts,produce,2
2,1,43633,Lightly Smoked Sardines in Olive Oil,canned goods,3
3,1,13176,Bag of Organic Bananas,produce,4
4,1,47209,Organic Hass Avocado,produce,5

In [4]:
# items
n_items = basket_items['product_id'].nunique()
print(f'Number of unique items: {n_items}')
# orders
n_orders = basket_items['order_id'].nunique()
print(f'Number of unique orders: {n_orders}')
# basket_items
n_basket_items = len(basket_items)
print(f'Number of basket items: {n_basket_items}')

Number of unique items: 26548
Number of unique orders: 64864
Number of basket items: 573124

# a) Product Frequencies

# b) + c) Most frequent Products

You can separate these if you want, but it makes sense to do them together.

# d) + e) Product Categories

You don't really need the notebook for e)

# f) Frequent Itemsets

In [5]:
# use the provided frequent itemsets.
frequent_itemsets = pd.read_csv('frequent_itemsets.csv')
# format frozensets
frequent_itemsets['itemsets'] = frequent_itemsets['itemsets'].apply(lambda x: frozenset(eval(x)))
frequent_itemsets.head()

    support itemsets
0  0.118725  (13176)
1  0.055578  (47209)
2  0.015432  (22035)
3  0.008048  (10246)
4  0.029462  (46979)

# g) + h) Category Sets

You don't really need the notebook for h)

# i) Association Rules and Frequent Items

You don't really need the notebook for j)

In [6]:
# determine rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.2)
rules = rules.drop(columns=["representativity", "leverage", "conviction", "zhangs_metric", "jaccard", "certainty", "kulczynski"])
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
0,(47209),(13176),0.055578,0.118725,0.018423,0.331484,2.792025
1,(47209),(21137),0.055578,0.084484,0.011486,0.206657,2.446100
2,"(13176, 47209)",(21137),0.018423,0.084484,0.005396,0.292887,3.466756
3,"(13176, 21137)",(47209),0.023942,0.055578,0.005396,0.225370,4.055039
4,"(47209, 21137)",(13176),0.011486,0.118725,0.005396,0.469799,3.957021

# j) Confidence

# k) No very frequent products, Lift

# l) Sub-sequences

In [34]:
# function from the exercise notebook
def contained(is_seq1, is_seq2):
    size1 = len(is_seq1)
    size2 = len(is_seq2)

    if size1 > size2:
        return False

    last_1 = 0
    last_2 = 0

    while last_1 < size1 and last_2 < size2:
        item1 = is_seq1[last_1]
        item2 = is_seq2[last_2]
        if item1 == item2:
            last_1 += 1
        last_2 += 1

    if last_1 == size1:
        return True
    else:
        return False

# m) Rules with support count > 99, confidence > 0.2, Lift < 1

You don't need any new calculations for this. Rather consult the lecture slides and your answer for b)